In [25]:
%pip install pandas sqlalchemy psycopg2

import pandas as pd
import os
from sqlalchemy import create_engine

# Connection strings
source_db_url = 'postgresql://postgres:root@localhost:5432/online_course_app'
target_db_url = 'postgresql://postgres:root@localhost:5432/online_course_DE'

# Create engine
source_engine = create_engine(source_db_url)
target_engine = create_engine(target_db_url)

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in c:\python312\lib\site-packages (2.0.35)
Requirement already satisfied: psycopg2 in c:\python312\lib\site-packages (2.9.9)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sidhartht\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python312\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\python312\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: six>=1.5 in c:\users\sidhartht\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:



tables_query = "SELECT table_name FROM information_schema.tables WHERE table_schema='public'"
tables = pd.read_sql(tables_query, source_engine)

# Step 2: Loop through each table and extract data
data_frames = {}  # Dictionary to store DataFrames

for table in tables['table_name']:
    # Extract data for each table
    query = f"SELECT * FROM {table}"
    raw_data = pd.read_sql(query, source_engine)
    
    # Store the DataFrame in the dictionary using table name as key
    data_frames[table] = raw_data

# Example: Accessing the data for a specific table
for table_name, df in data_frames.items():
    print(f"Data from table: {table_name}")
    print(df.head())  # Display the first few rows of the DataFrame

Data from table: users
       ID          Username     Password                Department  \
0  EMP001       Amber Flynn  password001         Software Engineer
1  EMP002  Kimberly Aguilar  password002  Senior Software Engineer
2  EMP003     Mary Sandoval  password003  Senior Software Engineer
3  EMP004      Morgan Lloyd  password004  Senior Software Engineer
4  EMP005     Joseph Willis  password005       Solution Consultant

   Enrollments  Completions  Role
0           15            8  user
1           20           13  user
2            2            0  user
3           28           21  user
4            1            0  user
Data from table: courses
        ID                                              Title  \
0  COR0000                    Machine Learning Specialization
1  COR0001        Introduction to Data Science Specialization
2  COR0002  Data Science Fundamentals with Python and SQL ...
3  COR0003       Key Technologies for Business Specialization
4  COR0004                       Deep Learning Specialization

                                         Short_Intro             Category  \
0  #BreakIntoAI with Machine Learning Specializat...     Machine Learning
1  Launch your career in data science. Gain found...        Data Analysis
2  Build the Foundation for your Data Science car...        Data Analysis
3  Get Ahead with Key Business Technologies. Gain...  Business Essentials
4  Become a Machine Learning expert. Master the f...     Machine Learning

   Enrollment  Completions                                                URL
0        4217         2135  https://www.coursera.org/specializations/machi...
1        4238         3485  https://www.coursera.org/specializations/intro...
2        2700         1504  https://www.coursera.org/specializations/data-...
3        4308         2527  https://www.coursera.org/specializations/key-t...
4        4792         2999  https://www.coursera.org/specializations/deep-...
Data from table: enrollment
       ID  UserId CourseId  Progress  StartDate  Completed
0  EN0001  EMP073  COR1261       100 2022-01-01          1
1  EN0002  EMP297  COR0666       100 2022-01-01          1
2  EN0003  EMP224  COR1590        22 2022-01-01          0
3  EN0004  EMP233  COR0650        21 2022-01-01          0
4  EN0005  EMP297  COR0573        33 2022-01-01          0

In [100]:


# Create engine for target database
target_engine = create_engine(target_db_url)

# Define the folder path for saving raw data files
local_raw_folder = 'raw'

# Create the folder if it doesn't exist
os.makedirs(local_raw_folder, exist_ok=True)

# Step: Load data into the raw layer and save CSVs to the local folder
with target_engine.connect() as conn:
    # Loop through the data_frames dictionary and load each DataFrame
    for table_name, df in data_frames.items():
        # Load the DataFrame to the raw schema, replace if the table already exists
        df.to_sql(table_name, conn, schema='raw', index=False, if_exists='replace')
        print(f"Loaded data from {table_name} into raw.{table_name}")
        
        # Save the DataFrame to a CSV file in the local 'raw' folder
        csv_file_path = os.path.join(local_raw_folder, f"{table_name}_raw.csv")
        df.to_csv(csv_file_path, index=False)
        print(f"Saved {table_name} data to {csv_file_path}")

Loaded data from users into raw.users
Saved users data to raw\users_raw.csv
Loaded data from courses into raw.courses
Saved courses data to raw\courses_raw.csv
Loaded data from enrollment into raw.enrollment
Saved enrollment data to raw\enrollment_raw.csv

In [73]:
users_df = data_frames['users']
users_df = users_df.drop(columns=[ 'Password', 'Role'])
users_df = users_df.rename(columns={'ID': 'UserId'})
print("null_value counts :" ,users_df.isna().sum())
print(users_df.head())


local_folder = 'prep'
os.makedirs(local_folder, exist_ok=True)  # Create folder if it doesn't exist
local_file_path = os.path.join(local_folder, 'prep_users.csv')
users_df.to_csv(local_file_path, index=False)
print(f"Transformed users data saved to {local_file_path}")

with target_engine.connect() as conn:
    users_df.to_sql('users', conn, schema='prep', index=False, if_exists='replace')
    print("Transformed users data loaded into prep.users in the database.")

null_value counts : UserId         0
Username       0
Department     0
Enrollments    0
Completions    0
dtype: int64
   UserId          Username                Department  Enrollments  \
0  EMP001       Amber Flynn         Software Engineer           15
1  EMP002  Kimberly Aguilar  Senior Software Engineer           20
2  EMP003     Mary Sandoval  Senior Software Engineer            2
3  EMP004      Morgan Lloyd  Senior Software Engineer           28
4  EMP005     Joseph Willis       Solution Consultant            1

   Completions
0            8
1           13
2            0
3           21
4            0
Transformed users data saved to prep\prep_users.csv
Transformed users data loaded into prep.users in the database.

Transformed users data saved to prep\prep_users.csv

null_value counts : Username       0
Department     0
Enrollments    0
Completions    0
dtype: int64

In [91]:
course_df = data_frames['courses']
course_df = course_df.drop(columns=[ 'Short_Intro', 'URL'])
course_df['completion_rate'] = (course_df['Completions'] / course_df['Enrollment']) * 100
course_df = course_df.rename(columns={'ID': 'CourseId'})
course_df = course_df.rename(columns={'Completions': 'Total_Completions'})
course_df = course_df.rename(columns={'Enrollment': 'Total_enrollment'})
print(course_df.head())

local_folder = 'prep'
os.makedirs(local_folder, exist_ok=True)  # Create folder if it doesn't exist
local_file_path = os.path.join(local_folder, 'prep_courses.csv')
course_df.to_csv(local_file_path, index=False)
print(f"Transformed course data saved to {local_file_path}")

with target_engine.connect() as conn:
    course_df.to_sql('course', conn, schema='prep', index=False, if_exists='replace')
    print("Transformed course data loaded into prep.course in the database.")

  CourseId                                              Title  \
0  COR0000                    Machine Learning Specialization
1  COR0001        Introduction to Data Science Specialization
2  COR0002  Data Science Fundamentals with Python and SQL ...
3  COR0003       Key Technologies for Business Specialization
4  COR0004                       Deep Learning Specialization

              Category  Total_enrollment  Total_Completions  completion_rate
0     Machine Learning              4217               2135        50.628409
1        Data Analysis              4238               3485        82.232185
2        Data Analysis              2700               1504        55.703704
3  Business Essentials              4308               2527        58.658310
4     Machine Learning              4792               2999        62.583472
Transformed course data saved to prep\prep_courses.csv
Transformed course data loaded into prep.course in the database.

In [92]:
enrollment_df = data_frames['enrollment']
print(enrollment_df.head())
local_folder = 'prep'
os.makedirs(local_folder, exist_ok=True)  # Create folder if it doesn't exist
local_file_path = os.path.join(local_folder, 'prep_enrollment.csv')
enrollment_df.to_csv(local_file_path, index=False)
print(f"Transformed users data saved to {local_file_path}")

with target_engine.connect() as conn:
    enrollment_df.to_sql('enrollment', conn, schema='prep', index=False, if_exists='replace')
    print("Transformed enrollment data loaded into prep.enrollment in the database.")

       ID  UserId CourseId  Progress  StartDate  Completed
0  EN0001  EMP073  COR1261       100 2022-01-01          1
1  EN0002  EMP297  COR0666       100 2022-01-01          1
2  EN0003  EMP224  COR1590        22 2022-01-01          0
3  EN0004  EMP233  COR0650        21 2022-01-01          0
4  EN0005  EMP297  COR0573        33 2022-01-01          0
Transformed users data saved to prep\prep_enrollment.csv
Transformed enrollment data loaded into prep.enrollment in the database.

In [93]:
# Print column names for debugging
print(course_df.columns)
print(enrollment_df.columns)
print(users_df.columns)

Index(['CourseId', 'Title', 'Category', 'Total_enrollment',
       'Total_Completions', 'completion_rate'],
      dtype='object')
Index(['ID', 'UserId', 'CourseId', 'Progress', 'StartDate', 'Completed'], dtype='object')
Index(['UserId', 'Username', 'Department', 'Enrollments', 'Completions'], dtype='object')

In [99]:
# Step 1: Load prepared data from the 'prep' schema
with target_engine.connect() as conn:
    users_df = pd.read_sql("SELECT * FROM prep.users", conn)
    course_df = pd.read_sql("SELECT * FROM prep.course", conn)
    enrollment_df = pd.read_sql("SELECT * FROM prep.enrollment", conn)

# Step 2: Merge enrollment with courses on 'CourseId'
combined_enrollment_courses = pd.merge(enrollment_df, course_df, on='CourseId', how='inner')

# Step 3: Merge the result with users on 'UserId'
final_combined_df = pd.merge(combined_enrollment_courses, users_df, on='UserId', how='inner')

# Step 4: Perform any additional transformations (optional)
print("Combined data preview:")
print(final_combined_df.head())

local_folder = 'mart'
os.makedirs(local_folder, exist_ok=True)  # Create folder if it doesn't exist
local_file_path = os.path.join(local_folder, 'final_mart.csv')
final_combined_df.to_csv(local_file_path, index=False)
print(f"Transformed users data saved to {local_file_path}")

# Step 5: Load the final combined DataFrame into the 'report' schema in the database
with target_engine.connect() as conn:
    final_combined_df.to_sql('final_mart', conn, schema='mart', index=False, if_exists='replace')
    print("Final combined data loaded into mart.final_mart in the database.")

Combined data preview:
       ID  UserId CourseId  Progress  StartDate  Completed  \
0  EN0001  EMP073  COR1261       100 2022-01-01          1
1  EN0002  EMP297  COR0666       100 2022-01-01          1
2  EN0003  EMP224  COR1590        22 2022-01-01          0
3  EN0004  EMP233  COR0650        21 2022-01-01          0
4  EN0005  EMP297  COR0573        33 2022-01-01          0

                                               Title             Category  \
0                       High-Impact Business Writing  Business Essentials
1  Introduction to Cybersecurity Tools & Cyber At...      Cloud Computing
2             Data Science with R - Capstone Project        Data Analysis
3                Foundations: Data, Data, Everywhere        Data Analysis
4            Développement psychologique de l'enfant           Psychology

   Total_enrollment  Total_Completions  completion_rate          Username  \
0               694                601        86.599424     Nicole Martin
1               747                689        92.235609       James Smith
2              1881               1810        96.225412  Zachary Schwartz
3              1849               1388        75.067604        Emily Hill
4              3927               2237        56.964604       James Smith

                 Department  Enrollments  Completions
0       Solution Consultant           23           16
1  Senior Software Engineer           26           19
2         Software Engineer           18           11
3       Solution Consultant           29           22
4  Senior Software Engineer           26           19
Transformed users data saved to mart\final_mart.csv
Final combined data loaded into mart.final_mart in the database.

In [98]:
final_combined_df.head()

,ID,UserId,CourseId,Progress,StartDate,Completed,Title,Category,Total_enrollment,Total_Completions,completion_rate,Username,Department,Enrollments,Completions
0,EN0001,EMP073,COR1261,100,2022-01-01,1,High-Impact Business Writing,Business Essentials,694,601,86.599424,Nicole Martin,Solution Consultant,23,16
1,EN0002,EMP297,COR0666,100,2022-01-01,1,Introduction to Cybersecurity Tools & Cyber At...,Cloud Computing,747,689,92.235609,James Smith,Senior Software Engineer,26,19
2,EN0003,EMP224,COR1590,22,2022-01-01,0,Data Science with R - Capstone Project,Data Analysis,1881,1810,96.225412,Zachary Schwartz,Software Engineer,18,11
3,EN0004,EMP233,COR0650,21,2022-01-01,0,"Foundations: Data, Data, Everywhere",Data Analysis,1849,1388,75.067604,Emily Hill,Solution Consultant,29,22
4,EN0005,EMP297,COR0573,33,2022-01-01,0,Développement psychologique de l'enfant,Psychology,3927,2237,56.964604,James Smith,Senior Software Engineer,26,19